.bg-green {
  background-color: #4caf50;
  color: #fafafa;
}

.bg-red {
  background-color: #f44336;
  color: #fafafa;
}

.bg-white {
  background-color: #ffffff;
  color: #212121;
}


.apexcharts-yaxis-annotations {

}

.apexcharts-yaxis-annotations rect {
  height: 28px;
  fill:#0004;
  stroke: unset;
}

.apexcharts-yaxis-annotations text {
  background: #444;
  fill: #fff;
  font-size: 18px;
  line-height: 40px;
  height: 40px;

}

.green {
  color: #4caf50
}

.red {
  color: #f44336;
}


@font-face {
  font-family: "MontserratCustom";
  src: url("../assets/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}