.bg-green {
  background-color: #4caf50;
  color: #fafafa;
}

.bg-red {
  background-color: #f44336;
  color: #fafafa;
}

.bg-white {
  background-color: #ffffff;
  color: #212121;
}

@font-face {
  font-family: "MontserratCustom";
  src: url("../assets/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}